<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Datos</title>
    <style>
        * {
            margin: 0;
            padding: 0
        }

        body {
            color: #e9e9e9;
            background-color: #4a4a4a;
        }

        h2 {
            text-align: center;
            margin: 20px auto;
        }

        h5 {
            text-align: center;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .main-table {
            border-collapse: collapse;
            background-color: #212529;
            font-size: 13px;
            width: 50%;
        }

        .main-table img {
            margin: 0 5px;
        }

        .main-table td {
            padding: 10px 2px;
            border: solid 1px #373b3e;
            text-align: center;
        }
        .main-table th{
            text-align: center;
        }

        .match-table td {
            text-align: center;
        }


        .container {

            margin: 10px auto
        }

        .main-container {
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            gap: 50px;

        }

        .buttons-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            padding: 10px
        }

        .match-table {
            /* width: 450px; */

            font-size: 13px;
        }


        .match-table tbody .row-eff {
            transition: all 0.2s;
            cursor: pointer;
        }

        .match-table tbody .row-eff:hover {
            transform: scale(1.05);
            /* transition:all 0.2s; */
            box-shadow: 0 0 10px #000000;
        }



        .modal-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: black;
            gap: 20px
        }

        .modal-container input {
            width: 35px;
            height: 35px;
            padding: 10px;
            border: solid 1px #747474;
            border-radius: 5px;
            text-align: center;


        }

        .modal-team {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-width: 90px;
            text-align: center;
        }

        .modal-header {
            justify-content: center !important;
        }

        @media screen and (max-width:800px) {
            .container {
                padding: 0
            }

            .main-container {
                display: flex;
                align-items: normal;
                flex-direction: column-reverse;
                padding: 0px;
                margin: 40px 0;
                gap: 0px;

            }

            .main-table {
                width: unset
            }
        }
    </style>
</head>

<body>

    <div class="container">
        <h2>Primera división 2022</h2>
        <!-- table table-dark table-sm table-bordered -->
        <div class="main-container">
            <table class="main-table  ">
                <tr style="background-color: #121212">
                    <th style="text-align:center">Pos</th>
                    <th>Equipo</th>
                    <th style="text-align:center">Ptos</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                    <th>GC</th>
                    <th>Dif</th>
                </tr>


            </table>

            <div class="box-container">
                <div class="buttons-container">
                    <button type="button" class="previous-button btn btn-success">&#8592</button>
                    <div class="fecha-container">Fecha <span class="fecha">25</span></div>
                    <button type="button" class="next-button btn btn-success">&#8594</button>
                </div>


                <div class="match-table-container">
                    <table class="match-table table table-dark table-bordered table-responsive">

                    </table>
                </div>

                <div class="btn btn-danger">Revertir cambios</div>
            </div>
        </div>



    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 style="color:black;text-align: center;">Agregar o cambiar resultado</h5>
                </div>
                <div class="modal-body">
                    <div class="modal-container">
                        <div class="modal-team equipo-local">
                            <img src="" width="30" height="30" alt="">
                            <div></div>
                        </div>
                        <input type="number" id="goles-local">
                        <div>-</div>
                        <input type="number" id="goles-visitante">
                        <div class="modal-team equipo-visitante">
                            <img src="" width="30" height="30" alt="">
                            <div></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success accept-button" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-history">

        

            <div class="selected-team">
                <img src="./img/Argentinos.png" alt="" class="">
                <div class="selected-name">Barracas Central</div>
            </div>

            <div>vs</div>

            <div class="match-row">
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Barracas Central</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Independiente</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>
                <div class="match empate">
                    <div class="fecha">Fecha 1 </div>
                    <img src="./img/Argentinos.png" alt="" class="">
                    <div class="selected-name">Argentinos</div>
                    <div class="result">
                        
                        <span class="history-local">1</span>-<span class="history-away">1</span>
                    </div>
                </div>


             


        </div>
    </div>

    <style>
        .modal-history {
            display: flex;
            flex-direction: row;
            gap: 7px;
            position: fixed;
            align-items: center;
            bottom: 0;
            width: 100%;
            font-size: 13px;

            overflow:hidden;
            box-shadow: 0 0 10px black;
            background-color: #373b3ee1;
            padding:5px
        }
        .history-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: -webkit-fill-available;
        }
        .match-row{
            display: flex;
            flex-direction: row;
            gap:12px;
            overflow-y: auto;
            padding-bottom: 5px;
            
        }
        .match-row img{
            width:20px;
            height:20px
        }
        .match{
            text-align: center;
            padding:2px 10px;

            min-width: max-content;
        }
        .selected-team{
            text-align: center;
            border: solid 2px black;
            background-color: #181818;
            border-radius: 10px;
            height: -webkit-fill-available;
            box-shadow: 0 0 7px #191919;
            padding:7px 15px
        }
        .match{
            transition: all 0.1s;
            cursor:pointer;
            background-color: #181818;
            border-radius: 10px;
        }
        .match:hover{
            transition: all 0.1s;
            transform: scale(0.92);
        }
        .empate{
            border:solid 2px #ffff00d6;
            box-shadow: 0 0 7px #ffff00d6;
            
        }
        .derrota{
            border:solid 2px  #ff0000b3;
            box-shadow: 0 0 7px #ff0000b3;
        }
        .victoria{
            border:solid 2px  #008900cc;
            box-shadow: 0 0 7px #008900cc;
        }

        @media screen and (max-width:800px) {
            .modal-history{
                font-size: 12px;
            }
        }

    </style>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="./src/index.js" type="module"></script>


</body>

</html>